body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: green;
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

h1 {
  color: goldenrod;
  font-size: 3.5rem;
}

#message-el {
  font-style: italic;
}

button {
  color: green;
  width: 300px;
  background-color: goldenrod;
  font-size: 24px;
  border-radius: 4px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 4px;
  margin-top: 4px;
  text color: 016f32
  width: 150px;
  background:goldenrod;
}
